[submodule "variables"]
	path = variables
	url = https://github.com/tomtomdurrant/variables.git
[submodule "hello_cargo"]
	path = hello_cargo
	url = https://github.com/tomtomdurrant/hello_cargo.git
[submodule "guessing_game"]
	path = guessing_game
	url = https://github.com/tomtomdurrant/guessing_game.git
